services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d order_service -U admin"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./startup/startup-scripts:/docker-entrypoint-initdb.d

  oauth2-mock:
    image: 'tuxmonteiro/oauth2-mock'
    ports:
      - "8082:8082"
    environment:
      - OAUTH2_MOCK_SERVER_CLIENTS_0_ID=order-client
      - OAUTH2_MOCK_SERVER_CLIENTS_0_SECRET=KLJIHUGJKKLIJHGHGGF

  order-service:
    container_name: order-service
    build:
      context: .
      dockerfile: Dockerfile
    image: order-service
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      oauth2-mock:
        condition: service_healthy
    ports:
      - 8083:8083
    healthcheck:
      test: "curl --fail --silent localhost:8083/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s
    links:
      - postgres
      - oauth2-mock

volumes:
  postgres_data:
    driver: local